<a href="javascript:window.location=%22http://http://twhackernews.heroku.com/messages/new?u=%22+encodeURIComponent(document.location)+%22&t=%22+encodeURIComponent(document.title)">bookmarklet</a>

<h1>New Message</h1>

<%= render 'form' %>

<%= link_to 'Back', messages_path %>

