<font size=2 color="#666">We come from CS, NCCU, Taipei, Taiwan.</font>
<p>
	<font family="helvetica" size=2><b>ChiaChia Lee:</b></font>
	<ul>
		<li>e-mail: <a href="mailto:spiderman0103@gmail.com">spiderman0103@gmail.com</a></li>
		<li>twitter: <a href="https://twitter.com/#!/zerodie">@zerodie</a></li>
	</ul>
</p>

<p>
	<font family="helvetica" size=2><b>Mayru Sun:</b></font>
	<ul>
		<li>e-mail: <a href="mailto:smr301@gmail.com">smr301@gmail.com</a></li>
		<li>twitter: <a href="https://twitter.com/#!/mayrusun">@mayrusun</a></li>
	</ul>
</p>

<p>
	<font family="helvetica" size=2><b>Danny:</b></font>
	<ul>
		<li>e-mail: <a href="mailto:danny2000tw@gmail.com">danny2000tw@gmail.com</a></li>
		<li>twitter: <a href="https://twitter.com/#!/danny2000tw">@danny2000tw</a></li>
	</ul>
</p>