<font size=2 color="#666">If you have any question, please feel free to email <a href="mailto:service@twhn.com">service@twhn.com</a><br />
If no one replies you in 3 days, don't feel sad.<br /> 
Because that email does NOT exist ever :)</font>